@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("image/ImagemDeFundo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}

hr {
  border-width: 2px; /* Aumenta a espessura da linha */
}

/* Adicionando a barra de rolagem na lista */
ul {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
  max-height: 400px; /* Limita a altura da lista */
  overflow-y: auto; /* Habilita a rolagem quando houver muitos itens */
}

/* Personalizando a barra de rolagem */
ul::-webkit-scrollbar {
  width: 10px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(139, 14, 223, 0.8); /* Cor da barra de rolagem */
  border-radius: 10px;
}

ul::-webkit-scrollbar-track {
  background-color: lightgray; /* Cor de fundo da barra */
}

.header button {
  position: absolute;
  right: 18%;
  margin-top: -30px;
}

.header i {
  font-size: 24px;
}

.to-do {
  margin-top: 40px;
  width: 60%;
}

.textInsert {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc; /* Cor da borda */
  width: 90%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
}

.textInsert:focus {
  outline: none;
  border-color: rgba(139, 14, 223, 0.8); /* Cor de borda ao focar */
  box-shadow: 0px 0px 5px rgba(139, 14, 223, 0.8); /* Realce ao focar */
}

.divInsert {
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  box-shadow: 6px 5px 10px 0px grey;
}

.categorySelect {
  flex: 1; /* Ocupa todo o espaço disponível dentro da div */
  min-width: 119px; /* Largura mínima para garantir legibilidade em telas pequenas */
  max-width: 121px; /* Largura máxima para telas maiores */
  padding: 10px; /* Espaço interno */
  border-radius: 10px; /* Bordas arredondadas */
  border: 1px solid #ccc; /* Cor da borda */
  font-size: 16px; /* Tamanho da fonte */
  background-color: white; /* Cor de fundo */
  color: #333; /* Cor do texto */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
  margin-left: 10px; /* Espaçamento à esquerda */
}

.categorySelect:focus {
  outline: none;
  border-color: rgba(139, 14, 223, 0.8); /* Cor de borda ao focar */
  box-shadow: 0px 0px 5px rgba(139, 14, 223, 0.8); /* Realce ao focar */
}

button {
  width: 10%;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.bx-plus {
  font-size: 30px;
  margin-left: 10px;
  background-color: rgb(139, 14, 223);
  border-radius: 50%;
  padding: 5px;
  color: white;
}

.divLi {
  margin-top: 20px;
  padding: 10px;
  background: lightgray;
  border-radius: 10px;
  box-shadow: 6px 5px 10px 0px grey;
  display: flex;
  align-items: center;
}

.divLi span {
  width: 80%;
  color: dimgray;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}

.divLi i {
  font-size: 22px;
  color: brown;
}

li {
  list-style-type: none;
}

.line-through {
  text-decoration: line-through;
}

@media (max-width: 775px) {
  .to-do {
    width: 80%;
  }
  .header button {
    right: 15%;
  }
  .textInsert {
    width: 70%;
  }
  .categorySelect {
    width: 40%;
  }
  button {
    width: 10%;
  }
  .bx-plus {
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  .to-do {
    width: 90%;
  }
  .header button {
    right: 10%;
  }
  .textInsert {
    width: 60%;
  }
  .categorySelect {
    width: 35%;
  }
  button {
    width: 8%;
  }
  p {
    font-size: large;
  }
  .bx-plus {
    font-size: 26px;
    margin-left: 3px;
  }
}